@-webkit-keyframes slide-in {
  0% {
    opacity: 0.2;
    pointer-events: none;
    left: 200px;
  }
  100% {
    opacity: 1;
    pointer-events: all;
    left: 363px;
  }
}
@keyframes slide-in {
  0% {
    opacity: 0.2;
    pointer-events: none;
    left: 200px;
  }
  100% {
    opacity: 1;
    pointer-events: all;
    left: 363px;
  }
}
@-webkit-keyframes scale-in {
  0% {
    opacity: 0.2;
    pointer-events: none;
    scale: 0.8;
  }
  100% {
    opacity: 1;
    pointer-events: all;
    scale: 1;
  }
}
@keyframes scale-in {
  0% {
    opacity: 0.2;
    pointer-events: none;
    scale: 0.8;
  }
  100% {
    opacity: 1;
    pointer-events: all;
    scale: 1;
  }
}