//Primary//
//Text
$paleViolet: hsl(276, 100%, 81%); //used
$moderateViolet: hsl(276, 55%, 52%); //used
$desaturatedDarkViolet: hsl(271, 15%, 43%); //used
$grayishBlue: hsl(206, 6%, 79%);
$veryDarkDesaturatedViolet: hsl(271, 36%, 24%); //used
$darkGrayishViolet: hsl(270, 7%, 64%); //used

//Gradients
$lightViolet: hsl(264, 100%, 61%); //used
$lightMagenta: hsl(293, 100%, 63%); //used

//secondary//
$white: hsl(0, 0%, 100%); //used
$lightGrayishViolet: hsl(270, 20%, 96%); //used
$veryDarkDesaturatedViolet: hsl(271, 36%, 24%); //used
$veryLightMagenta: hsl(289, 100%, 72%); //used
